body {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color:deepskyblue;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: larger;
    color: rgb(228, 13, 192);
    background-color:cornflowerblue;
    
}
img {
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;

}
.custom-p{
    font-weight: bolder ;

}
h3 {
    color: rgb(255,0,0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: brown;
}
h2 { 
color: rgb(207, 24, 24);                                            
font-family: Verdana, Geneva, Tahoma, sans-serif;     
font-size: larger; 
background-color: rgb(209, 130, 33);     
}
img{
size: 15cm;
}
